* {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
}

header {
    width: 100%;
    min-height: 30rem;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://s2-g1.glbimg.com/LwqjbBBTxzKBrx0vQSOaDU4xiAY=/0x0:1269x783/1008x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/y/T/SSAnGhRzSRAr7iaHjGGg/whatsapp-image-2020-07-31-at-14.41.24.jpeg') center center / cover no-repeat;
     
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 1rem 0rem 0rem 0rem;
    margin: 0;
    justify-content: space-evenly;

    a {
        text-decoration: none;
        color: oklch(71.824% 0.13863 231.73);
        font-weight: 500;
    }

    a:hover {
        text-decoration: underline;
    }
}

header article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    color: #fafafa;

    h1 {
        font-size: 5rem;
    }

    p {
        font-size: 2rem;
    }
}

main {
    background-color: #6919e9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main section {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
}

main section img {
    width: 50%;
}

main section:nth-child(even) {
    flex-direction: row-reverse;
}


article article {
    padding: 0rem 8rem;
}

h2 {
    font-size: 3rem;
    font-size: 2rem;
    text-align: center;
    background-color: oklch(71.824% 0.13863 231.731);
}



h3 {
    font-size: 5rem;
    font-size: 1rem;

    text-align: center;
}

p {
    color: #FFF;
}

footer {
    background-color: #6919e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h4 {
    font-size: 8rem;
    font-size: 4rem;
    color: white;

    text-align: center;

    container-img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-image {
    width: 100%;
    background-image: url('./img/img\ tusca.jpg');
    background-position: center;
    height: 20rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}